# SPC58NH-DISP Boards.
# https://www.st.com/en/evaluation-tools/spc58nh-disp.html

source [find interface/ftdi/stellarlink.cfg]

transport select jtag

source [find target/spc58xh.cfg]

# use hardware reset
reset_config trst_and_srst

# reasonable default
adapter speed 4000
adapter srst delay 100
adapter srst pulse_width 100

# C:\StellarLINK\openocd\bin\openocd.exe -d0 -s C:\StellarLINK\openocd\scripts -f utility\spc58nh-disp_FLASH_ERASE_CHECK.cfg

init
catch {halt}
catch {reset init}
catch {halt}

puts "\nTEST: Reset init and halt: [reg pc]"

puts -nonewline "TEST: flash probe 0 -> [flash probe 0]"
puts -nonewline "TEST: flash probe 1 -> [flash probe 1]"
puts -nonewline "TEST: flash probe 2 -> [flash probe 2]"
puts -nonewline "TEST: flash probe 3 -> [flash probe 3]"
puts -nonewline "TEST: flash probe 4 -> [flash probe 4]"
puts ""

puts "TEST: flash banks\n[flash banks]"

puts -nonewline "TEST: flash info 0\n[flash info 0]"
puts -nonewline "TEST: flash info 1\n[flash info 1]"
puts -nonewline "TEST: flash info 2\n[flash info 2]"
puts -nonewline "TEST: flash info 3\n[flash info 3]"
puts -nonewline "TEST: flash info 4\n[flash info 4]"
puts ""

puts -nonewline "TEST: flash erase_check 0 -> "
puts "[flash erase_check 0]"

puts -nonewline "TEST: flash erase_check 1 -> "
puts "[flash erase_check 1]"

puts -nonewline "TEST: flash erase_check 2 -> "
puts "[flash erase_check 2]"

puts -nonewline "TEST: flash erase_check 3 -> "
puts "[flash erase_check 3]"

puts -nonewline "TEST: flash erase_check 4 -> "
puts "[flash erase_check 4]"

puts "TEST: Exit"
shutdown
