# Should work with SR6G6-EVB Boards.
# http://www.st.com/...

source [find interface/ftdi/stellarlink.cfg]

transport select jtag

source [find target/sr6g6.cfg]

# use hardware reset
reset_config srst_only

# reasonable default
adapter speed 1800
adapter srst delay 100

# C:\StellarLINK\openocd\bin\openocd.exe -d0 -s C:\StellarLINK\openocd\scripts -f utility\sr6g6_evb_FLASH_ERASE_CHECK.cfg

init
catch {halt}
catch {reset init}
catch {halt}

puts "\nTEST: Reset init and halt: [reg pc]"

puts "TEST: flash probe 0 -> [flash probe 0]"
puts "TEST: flash probe 1 -> [flash probe 1]"
puts "TEST: flash probe 2 -> [flash probe 2]"
puts "TEST: flash probe 3 -> [flash probe 3]"
puts "TEST: flash probe 4 -> [flash probe 4]"
puts "TEST: flash probe 5 -> [flash probe 5]"
puts ""

puts "TEST: flash banks\n[flash banks]"

puts -nonewline "TEST: flash info 0\n[flash info 0]"
puts -nonewline "TEST: flash info 1\n[flash info 1]"
puts -nonewline "TEST: flash info 2\n[flash info 2]"
puts -nonewline "TEST: flash info 3\n[flash info 3]"
puts -nonewline "TEST: flash info 4\n[flash info 4]"
puts -nonewline "TEST: flash info 5\n[flash info 5]"
puts ""

puts -nonewline "TEST: flash erase_check 0 -> "
puts "[flash erase_check 0]"

puts -nonewline "TEST: flash erase_check 1 -> "
puts "[flash erase_check 1]"

puts -nonewline "TEST: flash erase_check 2 -> "
puts "[flash erase_check 2]"

puts -nonewline "TEST: flash erase_check 3 -> "
puts "[flash erase_check 3]"

puts -nonewline "TEST: flash erase_check 4 -> "
puts "[flash erase_check 4]"

puts -nonewline "TEST: flash erase_check 5 -> "
puts "[flash erase_check 5]"

puts "TEST: Exit"
shutdown
