#
# SR6G6 devices support JTAG transport.
#

set _CHIPNAME sr6g6
set _ENDIAN little

# Configure for SR6-CR52
set _TAPID 0x4BA06477

#set _ENABLE_DME   1
#set _ENABLE_DSPH  1
#set _ENABLE_HSM   1

#
# Definition of target names
#
set _TARGETNAME    armv8

set _TAPNAME $_CHIPNAME.tap
set _DAPNAME $_CHIPNAME.dap

set _APB_AP $_CHIPNAME.apb
set _AXI_AP $_CHIPNAME.axi

set _AP_SEL_APB       0x7C002000
set _AP_SEL_AXI       0x7C004000


# Kite0/Core0: Cortex-R52
set _AHB_AP_K0C0      $_CHIPNAME.k0c0.ahb
set _K0C0             $_CHIPNAME.k0c0.core
set _AP_SEL_AHB_K0C0  0x7E810000


#
# Configure JTAG TAP
#
jtag newtap $_CHIPNAME tap -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_TAPID

#
# Configure JTAG DAP
#
dap create $_DAPNAME -chain-position $_TAPNAME -adiv6

# Create the DAP APB-AP MEM-AP target
target create $_APB_AP mem_ap -endian $_ENDIAN \
	-dap $_DAPNAME \
	-ap-num $_AP_SEL_APB

# Create the DAP AXI-AP MEM-AP target
target create $_AXI_AP mem_ap -endian $_ENDIAN \
	-dap $_DAPNAME \
	-ap-num $_AP_SEL_AXI

##########################################################
# Cores
##########################################################

# Create and configure Cross Trigger Interface (CTI) - required for halt and resume
set _CTINAME $_CHIPNAME.k0c0.cti
cti create $_CTINAME \
	-dap $_DAPNAME \
	-ap-num $_AP_SEL_APB \
	-baseaddr 0x7E820000

# Create the target core for K0C0
target create $_K0C0 armv8r -endian $_ENDIAN \
	-dap $_DAPNAME \
	-ap-num $_AP_SEL_APB \
	-dbgbase 0x7E810000 \
	-cti $_CTINAME \
	-coreid 1

# Work-area is a space in RAM used for flash programming
# By default use 4kB
if { [info exists WORKAREASIZE] } {
   set _WORKAREASIZE $WORKAREASIZE
} else {
   set _WORKAREASIZE 0x1000
}


$_K0C0 configure -work-area-phys 0x60000000 -work-area-size $_WORKAREASIZE -work-area-backup 1

# flash size will be probed

# Partition 0-1 CLUSTER0 CORE0 - 3840 KB code flash
set _FLASHNAME_0 $_CHIPNAME.0.flash
flash bank $_FLASHNAME_0 sr6g6 0x28000000 0x3C0000 0 0 $_K0C0

#Partition 2-3 CLUSTER0 CORE1 - 3840 KB code flash
set _FLASHNAME_1 $_CHIPNAME.1.flash
flash bank $_FLASHNAME_1 sr6g6 0x28400000 0x3C0000 0 0 $_K0C0

#Partition 4-5 CLUSTER2 CORE0 - 3840 KB code flash
set _FLASHNAME_2 $_CHIPNAME.2.flash
flash bank $_FLASHNAME_2 sr6g6 0x29000000 0x3C0000 0 0 $_K0C0

#Partition 6-7 CLUSTER2 CORE1 - 4096 KB code flash
set _FLASHNAME_3 $_CHIPNAME.3.flash
flash bank $_FLASHNAME_3 sr6g6 0x29400000 0x400000 0 0 $_K0C0

# Partition 8 CLUSTER 0 CORE 0 Data Flash - 256K
set _FLASHNAME_4 $_CHIPNAME.4.flash
flash bank $_FLASHNAME_4 sr6g6 0x29E00000 0x40000 0 0 $_K0C0

# Partition 9 CLUSTER 0 CORE 0 UTEST FOR BOOT RECORD - 4K
set _FLASHNAME_5 $_CHIPNAME.5.flash
flash bank $_FLASHNAME_5 sr6g6 0x29F87000 0x1000 0 0 $_K0C0

# Partition 11 - HSM 448K code flash
# set _FLASHNAME_5 $_CHIPNAME.7.flash
# flash bank $_FLASHNAME_5 sr6 0x0 0x70000 0 0 $_K0C0

# Partition 12 - HSM 448K code flash
# set _FLASHNAME_6 $_CHIPNAME.8.flash
# flash bank $_FLASHNAME_6 sr6 0x100000 0x70000 0 0 $_K0C0

# Partition 13 - HSM 128K data flash
# set _FLASHNAME_7 $_CHIPNAME.9.flash
# flash bank $_FLASHNAME_7 sr6 0x3A0000 0x20000 0 0 $_K0C0


if { [info exists _ENABLE_DME] } {

# DME: Cortex-M4
set _AHB_AP_DME       $_CHIPNAME.dme.ahb
set _DME              $_CHIPNAME.dme.core
set _AP_SEL_AHB_DME   0x01003000

#
# Create the DAP AHB-AP MEM-AP target for the Cortex-M4 DME
#
target create $_AHB_AP_DME mem_ap -endian $_ENDIAN \
	-dap $_DAPNAME \
	-ap-num $_AP_SEL_AHB_DME

# Create the target core for DME
target create $_DME cortex_m -endian $_ENDIAN \
	-dap $_DAPNAME \
	-ap-num $_AP_SEL_AHB_DME
}


if { [info exists _ENABLE_DSPH] } {

# DSPH: Cortex-M4
set _AHB_AP_DSPH      $_CHIPNAME.dsph.ahb
set _DSPH             $_CHIPNAME.dsph.core
set _AP_SEL_AHB_DSPH  0x01002000

#
# Create the DAP AHB-AP MEM-AP target for the Cortex-M4 DSPH
#
target create $_AHB_AP_DSPH mem_ap -endian $_ENDIAN \
	-dap $_DAPNAME \
	-ap-num $_AP_SEL_AHB_DSPH

# Create the target core for DSPH
target create $_DSPH cortex_m -endian $_ENDIAN \
	-dap $_DAPNAME \
	-ap-num $_AP_SEL_AHB_DSPH
}

if { [info exists _ENABLE_HSM] } {

# HSM: Cortex-M4
set _AHB_AP_HSM       $_CHIPNAME.ham.ahb
set _HSM              $_CHIPNAME.hsm.core
set _AP_SEL_AHB_HSM   0x00007000

#
# Create the DAP AHB-AP MEM-AP target for the Cortex-M4 DME
#
target create $_AHB_AP_HSM mem_ap -endian $_ENDIAN \
	-dap $_DAPNAME \
	-ap-num $_AP_SEL_AHB_HSM

# Create the target core for HSM
target create $_HSM cortex_m -endian $_ENDIAN \
	-dap $_DAPNAME \
	-ap-num $_AP_SEL_AHB_HSM

}

$_K0C0 configure -event reset-assert {
	global _DAPNAME
	echo "reset-assert"
	adapter assert srst
	$_DAPNAME apreg 0x7C002000 0xD00 0x1000012
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE810310
	$_DAPNAME apreg 0x7C002000 0xD0C 0x0
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE810024
	$_DAPNAME apreg 0x7C002000 0xD0C 0x2
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE820000
	$_DAPNAME apreg 0x7C002000 0xD0C 0x1
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE820140
	$_DAPNAME apreg 0x7C002000 0xD0C 0x0
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE820018
	$_DAPNAME apreg 0x7C002000 0xD0C 0xF
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE820010
	$_DAPNAME apreg 0x7C002000 0xD0C 0xF
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE8200A0
	$_DAPNAME apreg 0x7C002000 0xD0C 0x1
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE82001C
	$_DAPNAME apreg 0x7C002000 0xD0C 0x5
	$_DAPNAME apreg 0x7C002000 0xD24 0x1

	$_DAPNAME apreg 0x00006000 0x0  0xE0E05FE0
	$_DAPNAME apreg 0x00006000 0x0  0x1000000F
	$_DAPNAME apreg 0x00006000 0x10 0xFFFFFFFF

	$_DAPNAME apreg 0x01001000 0x0 0x1
	$_DAPNAME apreg 0x01001000 0x20 0x4
	$_DAPNAME apreg 0x01001000 0x24 0x8
	$_DAPNAME apreg 0x01001000 0xA0 0x4
	$_DAPNAME apreg 0x01001000 0xA4 0x8
	$_DAPNAME apreg 0x01001000 0x140 0xC

	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE820000
	$_DAPNAME apreg 0x7C002000 0xD0C 0x1
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE820020
	$_DAPNAME apreg 0x7C002000 0xD0C 0x4
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE820024
	$_DAPNAME apreg 0x7C002000 0xD0C 0x8
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE8200A0
	$_DAPNAME apreg 0x7C002000 0xD0C 0x1
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE820024
	$_DAPNAME apreg 0x7C002000 0xD0C 0x2
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE820140
	$_DAPNAME apreg 0x7C002000 0xD0C 0xC
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
}

$_K0C0 configure -event reset-deassert-post   {
	global _DAPNAME
#	disable_watchdog
	echo "reset-deassert-post: Disabling watchdog"	
	$_DAPNAME apreg 0x7C004000 0xD00 0x30006012
	$_DAPNAME apreg 0x7C004000 0xD04 0x70F40010
	$_DAPNAME apreg 0x7C004000 0xD0C 0xC520
	$_DAPNAME apreg 0x7C004000 0xD24 0x1
	$_DAPNAME apreg 0x7C004000 0xD04 0x70F40010
	$_DAPNAME apreg 0x7C004000 0xD0C 0xD928
	$_DAPNAME apreg 0x7C004000 0xD24 0x1
	$_DAPNAME apreg 0x7C004000 0xD04 0x70F40000
	$_DAPNAME apreg 0x7C004000 0xD0C 0xFF00011A
	$_DAPNAME apreg 0x7C004000 0xD24 0x1
}

$_K0C0 configure -event reset-init   { 
#	disable_reset_escalation
#	disable_watchdog
	clear_memories 
	configure_HypVmid
}

$_K0C0 configure -event gdb-attach { 	
	reset init		
#	disable_reset_escalation
#	clear_memories
}

proc disable_watchdog { } {
	global _AXI_AP

	echo "Disabling watchdog"
	
 	$_AXI_AP mww 0x70F40010 0xC520
 	$_AXI_AP mww 0x70F40010 0xD928
 	$_AXI_AP mww 0x70F40000 0xFF00011A
	
#	$_AXI_AP mww 0x60000000 0xF2400010
#	$_AXI_AP mww 0x60000004 0xF2C700F4
#	$_AXI_AP mww 0x60000008 0xF24C5120
#	$_AXI_AP mww 0x6000000C 0x6001    
#	$_AXI_AP mww 0x60000010 0xF64D1128
#	$_AXI_AP mww 0x60000014 0x6001    
#	$_AXI_AP mww 0x60000018 0xF2400000
#	$_AXI_AP mww 0x6000001C 0xF2C700F4
#	$_AXI_AP mww 0x60000020 0xF240111A
#	$_AXI_AP mww 0x60000024 0xF6CF7100
#	$_AXI_AP mww 0x60000028 0x6001 
#	$_AXI_AP mww 0x60000028 0xBA80
#	reg 32 0x60000000
}

#
# Memory procedures
#

proc disable_reset_escalation { } {
	global _AXI_AP
	$_AXI_AP mwd 0x722f060B 0
}

proc clear_memory { start_addr end_addr } {
	global _AXI_AP

	echo "Clearing memory \[$start_addr-$end_addr\]"

	set tmp [expr {$end_addr - $start_addr}]
	set count [expr {$tmp + 1}]
	$_AXI_AP mwd $start_addr 0 [expr {$count / 8}]
}


proc clear_memories { } {
	# work area must be initialized by clear_memory
	echo "initialize work area from 0x60000000 to 0x60000FFF"
	clear_memory 0x60000000 0x60000FFF	
	# non working area can be initilized by fast ram_fill command
	# usage: ram_fill start_addr size_kb [value_32bit]
	echo "initialize RAM from 0x60001000 to 0x6007FFFF"
	ram_fill 0x60001000 0x7F000
	echo "initialize RAM from 0x60400000 to 0x6047FFFF"
	ram_fill 0x60400000 0x80000
	echo "initialize RAM from 0x61000000 to 0x6105FFFF"
	ram_fill 0x61000000 0x60000
	echo "initialize RAM from 0x61400000 to 0x6145FFFF"
	ram_fill 0x61400000 0x60000
	echo "initialize RAM from 0x64000000 to 0x6401FFFF"
	ram_fill 0x64000000 0x20000

#	clear_memory 0x60000000 0x6001BFFF
#	clear_memory 0x60000000 0x6007FFFF
#	clear_memory 0x24020000 0x2403FFFF
}
 proc configure_HypVmid {} {
	global _DAPNAME
	echo "Configuring VSCTLR_VMID to 0x00FF0000"
	$_DAPNAME apreg 0x7C002000 0xD00 0x1000012
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE810080
	$_DAPNAME apreg 0x7C002000 0xD0C 0x00ff0000
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE810084
	$_DAPNAME apreg 0x7C002000 0xD0C 0x1E15EE10
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
	$_DAPNAME apreg 0x7C002000 0xD04 0xFE810084
	$_DAPNAME apreg 0x7C002000 0xD0C 0x1F10EE82
	$_DAPNAME apreg 0x7C002000 0xD24 0x1
}
