# SPDX-License-Identifier: GPL-2.0-or-later

# Configuration file for STM32C5x series.
# stm32v8x devices support both JTAG and SWD transports.

source [find target/swj-dp.tcl]
source [find mem_helper.tcl]

if { [info exists CHIPNAME] } {
    set _CHIPNAME $CHIPNAME
} else {
    set _CHIPNAME stm32v8x
}

# Work-area is a space in RAM used for flash programming
if { [info exists WORKAREASIZE] } {
    set _WORKAREASIZE $WORKAREASIZE
} else {
    set _WORKAREASIZE 0x8000
}

#jtag scan chain
if { [info exists CPUTAPID] } {
    set _CPUTAPID $CPUTAPID
} else {
    if { [using_jtag] } {
        set _CPUTAPID 0x6ba00477
    } {
        set _CPUTAPID 0x6ba02477
    }
}

set _ENDIAN little

swj_newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

if {[using_jtag]} {
    jtag newtap $_CHIPNAME bs -irlen 5
}

target create $_CHIPNAME.ap0 mem_ap -endian $_ENDIAN -dap $_CHIPNAME.dap -ap-num 0
target create $_CHIPNAME.cpu cortex_m -endian $_ENDIAN -dap $_CHIPNAME.dap -ap-num 1

$_CHIPNAME.cpu configure -work-area-phys 0x34040000 -work-area-size $_WORKAREASIZE -work-area-backup 0

flash bank $_CHIPNAME.flash_s stldr 0x18000000 0 0 0 [target current]
flash bank $_CHIPNAME.flash_ns stldr 0x08000000 0 0 0 [target current]

# Common knowledge tells JTAG speed should be <= F_CPU/6.
# F_CPU after reset is MSI 4MHz, so use F_JTAG = 500 kHz to stay on
# the safe side.
#
# Note that there is a pretty wide band where things are
# more or less stable, see http://review.openocd.org/3366
adapter speed 500

adapter srst delay 100

if {[using_jtag]} {
    jtag_ntrst_delay 100
}

if {[using_hla]} {
    echo "Error : The selected adapter does not support debugging this device"
    shutdown
} else {
    # if srst is not fitted use SYSRESETREQ to
    # perform a soft reset
    cortex_m reset_config sysresetreq
}


# Get flash size in bytes
proc stm32v8x_get_size {} {
    set flash_size [mrh 0x08FFF80e]
    if {$flash_size == 0x0000 || $flash_size == 0xFFFF } {
        return 0x400000
    } else {
        return [expr {$flash_size * 1024}]
    }
}

# Set DEV_ID loader_file
# 0x449 "/path/to/STM32V8x.xldr"
set dev_id_loader {
}

$_CHIPNAME.cpu configure -event examine-end {
    # Enable debug during low power modes (uses more power)
    # DBGMCU_CR |= DBGSTBY | DBGSTOP | DBGSLEEP
    mmw 0x4E004004 0x00000007 0

    # Stop watchdog counters during halt
    # DBGMCU_APB1FZR = WWDG
    mmw 0x4E00403C 0x00000800 0
    # DBGMCU_APB4FZR = IWDG
    mmw 0x4E004054 0x00040000 0

    # Read DBGMCU ID code and get device identification in hexadecimal
    # dev_id = DBGMCU_IDC[0..11]
    set dev_id [format 0x%03X [expr {([mrw 0x4E004000] & 0xFFF)}]]

    set flash_size [stm32v8x_get_size]
    set flash_list [flash list]
    if {[info exists dev_id_loader($dev_id)]} {
        for {set i 0} {$i < [llength $flash_list]} {incr i} {
                if {[string match "$_CHIPNAME.flash*" [lindex [lindex $flash_list  $i] 1]] &&
                [lindex [lindex $flash_list  $i] 3] == "stldr" &&
                [lindex [lindex $flash_list  $i] 13] == "$_CHIPNAME.cpu"} {
                    stldr set_loader $i $dev_id_loader($dev_id)
                    stldr set_size $i $flash_size
                }
        }
    } else {
        echo "Error : No STLDR loader file found for device ID $dev_id"
        echo "Error : Please check the 'dev_id_loader' table and set the correct loader file path for this device."
    }
}
