# Should work with SR6G7-EVB Boards.
# http://www.st.com/...

source [find interface/ftdi/stellarlink.cfg]

transport select jtag

source [find target/sr6g7.cfg]

# use hardware reset
reset_config srst_only

# reasonable default
adapter speed 4000
adapter srst delay 100
