# Should work with SR6P7-EVB Boards.
# http://www.st.com/...

source [find interface/ftdi/stellarlink.cfg]

transport select jtag

source [find target/sr6p7.cfg]

# use hardware reset
reset_config srst_only

# reasonable default
adapter speed 1800
adapter srst delay 100
